.grayscale-color {
    filter: grayscale(1);
}

.unhappy-face {
    filter: grayscale(1) brightness(4.6);
}

.smile-face {
    filter: grayscale(1) brightness(2.29);
}

.happy-face {
    filter: grayscale(1) brightness(1.9);
}

.hover-face:hover,
.color-face {
    filter: unset;
}

.btn-category {
    background-color: unset;
}

.btn-category-big {
    height: 100px;
    width: 100px;
}

.btn-category-medium {
    height: 80px;
    width: 80px;
}

.btn-category-small {
    height: 60px;
    width: 60px;
}

.neutral-mouth {
    fill:none;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:12px;
}

