.grayscale-color {
    filter: grayscale(1);
}

#face-unhappy {
    filter: grayscale(1) brightness(4.6);
}

#face-smile {
    filter: grayscale(1) brightness(2.29);
}

#face-happy {
    filter: grayscale(1) brightness(1.9);
}

.hover-face:hover,
#face-unhappy:hover,
#face-smile:hover,
#face-happy:hover,
.color-face {
    filter: unset;
}

.btn-category {
    background-color: unset;
}

.btn-category-big {
    height: 100px;
    width: 100px;
}

.btn-category-medium {
    height: 80px;
    width: 80px;
}

.neutral-mouth {
    fill:none;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:12px;
}

