:root {
  /*Color*/
  --background-color: #FFF;
  --primary-color: #638354;
  --secondary-color: #3B1F13;
  --neutral-color: #DFDBD9;
  --noCategory-color: #30c2e799;
  --unknow-color: #83000099;
  --learning-color: #db820099;
  --knowing-color: #7124B099;
  --perfect-color:#00611299;

  /*Border*/
  --box-shadow: 0 3px 8px #00000026;
  --medium-border-radius: 25px;
  --big-border-radius: 50px;
  
  /*Font*/
  --font-bold: 600;
}

* {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
  border: unset;
}

.app {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}

h2 {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  font-size: 2.5rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor:not-allowed;
}