:root {
  --background-color: #FFF;
  --box-shadow: 0 3px 8px #00000026;
  --primary-color: #638354;
}

* {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

.app {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

