:root {
  --background-color: #FFF;
  --box-shadow: 0 3px 8px #00000026;
  --primary-color: #638354;
  --secondary-color: #3B1F13;
  --neutral-color: #DFDBD9;
  --medium-border-radius: 25px;
  --big-border-radius: 50px;
}

* {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  box-sizing: border-box;
}

.app {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

