.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-background, .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-background {
    background-color: var(--secondary-color);
    opacity: 0.9;
}