.btn {
    box-shadow: var(--box-shadow);
    border : 4px solid transparent;
    border-radius: var(--medium-border-radius);
    width: max-content;
    padding: 15px;
}

.default-btn {
    background-color: var(--neutral-color);
    color:var(--secondary-color);
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--neutral-color);
}

.primary-btn:hover {
    background-color: var(--secondary-color);
    color: var(--neutral-color);
}

.secondary-btn {
    background-color: var(--secondary-color);
    color: var(--neutral-color);
}

.secondary-btn:hover, .default-btn:hover {
    background-color: var(--primary-color);
    color: var(--neutral-color);
}

.btn:active {
    background-color: var(--neutral-color);
    color:var(--secondary-color);
}

.default-btn:active, .secondary-btn:active {   
    border-color: var(--primary-color);
}

.primary-btn:active {
    border-color: var(--secondary-color);
}

.btn-medium {
    height: 78px;
}

.btn-big {
    height: 105px;
}