button {
    box-shadow: var(--box-shadow);
    background-color: var(--neutral-color);
    border : 4px solid transparent;
    border-radius: var(--medium-border-radius);
    color:var(--secondary-color);
    width: max-content;
    padding: 5%;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--neutral-color);
}

button:active {
    background-color: var(--neutral-color);
    border-color: var(--primary-color);
    color:var(--secondary-color);
}

.medium {
    height: 78px;
}

.big {
    height: 105px;
}